.debug-layer {
    position: relative;
    border: 1px dashed red;
    padding-top: var(--line-height);
    min-width: 120px;
    display: block;
    //min-height: 100%;
    border-radius: calc(var(--border-radius) );
    overflow: hidden;
    //flex-grow: 1;
}

/* Label style within the DebugLayer component */
.debug-layer > .header {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(var(--line-height));
}

.debug-layer .header > .label {
    background-color: #FFCBCB;
    padding: 0 var(--leading);
    color: #851010;
    border-bottom-right-radius: calc(var(--border-radius) * 0.66);
}