
.modal-container, .drawer-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-modal);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1000;
}

.modal {
    position: relative;
    width: 100%;
    max-width: 640pt;
    background-color: var(--background);
    border: 1px solid var(--oakd-default-border);
    box-shadow: 4px 6px 0 rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
    overflow: auto;
}

.actions {
    position: absolute;
    right: var(--leading);
    top: var(--leading);
}