.space {
    display: flex;
    flex-wrap: wrap;
}

.space.gap {
    column-gap: var(--leading);
    row-gap: var(--leading);
}



/* Direction */
.direction-horizontal {
    flex-direction: row;
}

.direction-vertical {
    flex-direction: column;
}

/* Alignment */
.align-default {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.align-normal {
    align-items: normal;
}

/* Justification */
.justify-default {
    justify-content: normal;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-stretch {
    justify-content: stretch;
}

.justify-stretch > * {
    flex-grow: 1;
}

.justify-around {
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
}

.justify-evenly {
    justify-content: space-evenly;
}
