.oakd.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: inherit; /* Allows color inheritance */
    vertical-align: middle;
    line-height: 0;
    background-color: transparent; /* Ensure no background bleed */
}

.oakd.icon img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

/* Allow gradients */
.oakd.icon[data-gradient="true"] {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

/* Size Variants */
.icon-default {
    width: calc(var(--line-height) * 1.5);
    height: calc(var(--line-height) * 1.5);
}
.icon-small {
    width: var(--line-height);
    height: var(--line-height);
}
.icon-large {
    width: calc(var(--line-height) * 2);
    height: calc(var(--line-height) * 2);
}







.oakd-icon-stack {
    display: grid;
    place-items: center;
}
.oakd-icon-stack > * {
    grid-area: 1 / 1;
}
