.oakd.button {
    display: inline-flex;
    margin: 0;
    outline: none;
    border-radius: var(--border-radius);
    border: 1px solid;
    padding-top: calc(var(--leading) / 2);
    padding-bottom: calc(var(--leading) / 2);
    padding-right: var(--leading);
    padding-left: var(--leading);
    height: auto;
    transition: background-color 0.2s ease-in-out, filter 0.1s ease-in-out;
}

/* Button Sizes */
.oakd.button.size-small {
    padding-top: 0;
    padding-bottom: 0;
}

.oakd.button.size-large {
    padding-top: var(--leading);
    padding-bottom: var(--leading);
    padding-right: calc(var(--leading) * 2);
    padding-left: calc(var(--leading) * 2);
}

/* Button Types */
.oakd.button.type-default {
    background-color: #f0f0f0;
}
.oakd.button.type-default .oakd.standardized-text {
    color: #000;
}

.oakd.button.type-primary {
    background-color: var(--oakd-primary-color);
    border-color: var(--oakd-primary-border);
}
.oakd.button.type-primary .oakd.standardized-text {
    color: #fff;
}

.oakd.button.type-danger {
    background-color: var(--oakd-danger-color);
    border-color: var(--oakd-danger-border);
}
.oakd.button.type-danger .oakd.standardized-text {
    color: var(--oakd-danger-text);
}

.oakd.button.type-warning {
    background-color: var(--oakd-warning-color);
    border-color: var(--oakd-warning-border);
}
.oakd.button.type-warning .oakd.standardized-text {
    color: var(--oakd-warning-text);
}

.oakd.button.type-ghost {
    background: #CCC4;
}
.oakd.button.type-ghost .oakd.standardized-text {
    color: #666;
}

/* Disabled Button */
.oakd.button.disabled,
.oakd.button.type-disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
.oakd.button.disabled .oakd.standardized-text,
.oakd.button.type-disabled .oakd.standardized-text {
    color: #666;
}


/* Interactive States */

.oakd.button.active:not(.disabled) {
    filter: brightness(1.05);
}

.oakd.button:not(.disabled):hover {
    filter: brightness(1.15);
    cursor: pointer;
}

.oakd.button:not(.disabled):active {
    filter: brightness(0.85);
}

.oakd.button:not(.disabled):focus {
    filter: brightness(1.1);
    outline: 2px solid rgba(0, 0, 0, 0.2);
}





.oakd.button_group > * {
    border-radius: 0; /* Remove border-radius for all buttons in the group */
}

/* Horizontal Button Group */
.oakd.button_group.horizontal {
    display: inline-flex;
}

.oakd.button_group.horizontal > * {
    border-radius: 0;
}

.oakd.button_group.horizontal > *:first-child {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

.oakd.button_group.horizontal > *:last-child {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.oakd.button_group.horizontal > *:not(:last-child) {
    border-right: none;
}

/* Vertical Button Group */
.oakd.button_group.vertical {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.oakd.button_group.vertical > * {
    border-radius: 0;
    width: 100%;
}

.oakd.button_group.vertical > *:first-child {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.oakd.button_group.vertical > *:last-child {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.oakd.button_group.vertical > *:not(:last-child) {
    border-bottom: none;
}
