.button {
    display: inline-flex;
    margin: 0;
    outline: none;
    border: 1px solid;
    padding-top: calc(var(--leading) / 2);
    padding-bottom: calc(var(--leading) / 2);
    padding-right: var(--leading);
    padding-left: var(--leading);
    height: auto;
}

.button.size-small {
    padding-top: 0;
    padding-bottom: 0;
}

.button.size-large {
    padding-top: var(--leading);
    padding-bottom: var(--leading);
    padding-right: calc( var(--leading) * 2 );
    padding-left: calc( var(--leading) * 2 );
}

/* Button Types */
.button.type-default {
    background-color: #f0f0f0;
    color: #000;
}

.button.type-primary {
    background-color: #007bff;
    color: #fff;
}

.button.type-danger {
    background-color: var(--oakd-danger-color);
    border-color: var(--oakd-danger-border);
    color: var(--oakd-danger-text);
}

.button.type-warning {
    background-color: #ffc107;
    color: #000;
}

.button.type-ghost {
    background: #CCC4;
    color: #000;
}

.button.disabled,
.button.type-disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}
