.oakd.content {
}

.oakd.content.pad {
  padding: var(--leading);
}

.oakd.content.pad-horizontal {
  padding: 0 var(--leading);
}

.oakd.content.pad-vertical {
  padding: var(--leading) 0;
}

.oakd.content {
  overflow-y: initial;
  //background-color: var(--background);
}

.oakd.content.grow {
    overflow-x:hidden;
   overflow-y: auto;
    max-height: 100%;
    flex: 1 1 auto;
 }

.oakd.content-row {
    display: flex;
    flex: 1;             /* Fill remaining vertical space if needed */
    width: 100%;
    overflow: hidden;    /* Prevent the row itself from scrolling */
}
