.oakd.pagination {
  display: flex;
  align-items: center;
}

.pagination-button {
  margin: 0 4px;
}

.pagination-button.current {
  font-weight: bold;
}

.arrow {
  margin: 0 8px;
}

.pagination-arrow {
  padding-left: calc(var(--leading) / 2);
  padding-right: calc(var(--leading) / 2);
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.dot {
  margin: 0 4px;
}
