.oakd.card {
    border: 1px solid var(--oakd-gray);
    border-radius: calc(var(--border-radius) * 1.66);
    background: var(--background);
    min-width: 0;
}

.oakd.card > .oakd.debug-layer {
    border-radius: calc(var(--border-radius) * 1.42);
    overflow: hidden;
}

.oakd.card.pad {
    padding: var(--leading);
}

.oakd.card.fill {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    height: 100%;
    min-height: 0;
}
