.row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    align-items: stretch;
    min-width: 0;
    min-height: 0;
}

.row.gap {
    column-gap: var(--gap-sizing);
    row-gap: var(--gap-sizing);
}

.oakd.row.grow {
    flex: 1 1 auto;
}

.oakd.row.fill {
    height: 100%;
}
